name: Testomatio Tests

on:
  workflow_dispatch:
    inputs:
      grep:
        description: "Tests to grep"
        required: false
        default: ""
      run:
        description: "Run tests"
        required: false
      testomatio:
        description: "Testomatio configuration"
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        run: |
          TESTOMATIO=tstmt_M3bGQVXJomqq_J3TVLnhpNezDL6MYqzSfA1709726754 npx cypress run -- --env grep="${{ github.event.inputs.grep }}" --env eventName="${{ github.event.name }}"

      - name: Upload Testomatio report
        if: ${{ success() }}
        run: |
          npx testomat-reporter upload
        env:
          TESTOMATIO: "${{ github.event.inputs.testomatio }}"
